<div class="container mx-auto" style="width: 300px;">
  <div class="d-flex justify-content-center">
    <h1>Today's Task</h1>
    <h3><%= @task.title %></h3>
    <p><%= @task.details %></p>
  </div>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to "Edit this task", edit_task_path %>
      </li>
      <li class="list-group-item">
        <%= link_to "Delete this task", task_path(@task), method: :delete, data: {confirm: "Are you sure you want to delete #{@task.title}?"} %>
      </li>
      <li class="list-group-item">
        <%= link_to "Add a new task?", new_path(@task) %>
      </li>
      <li class="list-group-item">
        <%= link_to "Back to list", tasks_path %>
      </li>
    </ul>
</div>
